* {
    margin-top: 5em;
    text-align: center;
    font-family: mono,monospace;
    color: white;
    background-color: #1e1e1e;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

